* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #111111;
  height: 100%;
  width: 100%;
  margin: 0%;
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: #111111;
}

.control-pane {
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #333333;
}

table.wd-table {
  width: 100%;
  background-color: #333333;
  border-collapse: collapse;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  color: #ffffff;
}

table.wd-table td,
table.wd-table th {
  border-width: 2px;
  border-color: white;
  border-style: solid;
  padding: 5px;
}

table.wd-table thead {
  background-color:white;
}

.table-header {
  padding-bottom: 5px;
  color:#bd10c9;
}
