* {
  font-family: "Open Sans", sans-serif;
}
body {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/login_blurred_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
nav {
  background-color: rgba(2, 2, 15, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.expanded-nav a {
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
  color: #d1ccdcff;
}
.expanded-nav span {
  color: #cc00a0ff;
}

.expanded-nav .fa-solid,
.fa-regular {
  color: #cc00a0ff;
}

.expanded-nav-icons {
  display: flex;
  gap: 15px;
}
.expanded-nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
form {
  margin: 50px auto;
  width: 400px;
  background-color: #333333;
  padding: 20px;
  border-radius: 5px;
}

label {
  color: #fff;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  background-color: #333333;
  border-color: #cc00a0ff;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #cc00a0ff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
