body {
  background-color: #f4f4f4;
  height: 100%;
  width: 100%;
  margin: 0%;
  font-family: Arial, sans-serif;
}
.formflex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.formwrap {
  flex: auto;
}
.login-form {
  width: 330px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.login-form input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 11px 20px;
  margin: 7px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.reg {
  text-decoration: none;
  color: rgb(255, 0, 200);
  justify-content: center;
  display: flex;
}
.H {
  position: fixed;
  right: 20px;
  top: 12px;
}
input[type="radio"] {
  accent-color: rgb(255, 0, 200);
}
.video{
  width:100%;
  height:100vh;
  background-image:linear-gradient(rgb(127, 117, 117));
  background-position: center;
  background-size: center;
}

.video video{
  position: absolute;
  right:0;
  bottom:0;
  z-index:-1;
}
@media(min-aspect-ratio:16/9){
  .video video{
    width: 100%;
    height: auto;

  }
}
