:root {
  --background: #212f45;
  --darkground: #3333333;
  --accent: #cc00a0ff;
  --text: #d1ccdcff;
}

* {
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #ffffff;
  margin: 0%;
}

nav {
  background-color: rgba(2, 2, 15, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/*.expanded-nav a {
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
  color: #d1ccdcff;
}
.expanded-nav span {
  color: #cc00a0ff;
}

.expanded-nav .fa-solid,
.fa-regular {
  color: #cc00a0ff;
}
.expanded-nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}*/

.expanded-nav-icons {
  display: flex;
  gap: 15px;
}

.carousel {
  width: 100%;
}

.slider {
  margin: 0;
  padding: 0 4%;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.slider .handle.handlePrev {
  left: 11px;
}

.slider .handle.handleNext {
  right: 11px;
}

.slider .handle.active {
  cursor: pointer;
}

.slider .handle.tv {
  top: 865px;
}

.slider .handle.movie {
  top: 355px;
}

.slider .handle {
  position: absolute;
  top: 100px;
  height: 401px;
  bottom: 0;
  z-index: 20;
  width: 7%;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.fa {
  font-size: 46px;
  margin-top: 120px;
}

.row {
  overflow: hidden;
}
.row__inner {
  -webkit-transition: 450ms -webkit-transform;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 10px 0;
  padding-bottom: 10px;
}

.gui-card {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 400px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.gui-card__img {
  width: 250px;
  height: 400px;
  object-fit: cover;
}
.gui-card__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.413) 100%
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.324) 100%
  );
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
}
.gui-card__details:after,
.gui-card__details:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.gui-card__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: #cc00a0ff;
}
.gui-card__details:before {
  content: "▶";
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -13px;
  text-align: center;
  z-index: 2;
}
.gui-card:hover .gui-card__details {
  opacity: 1;
}
.gui-card__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
  transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .gui-card {
  opacity: 0.3;
}
.row__inner:hover .gui-card:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}
.gui-card:hover ~ .gui-card {
  -webkit-transform: translate3d(125px, 0, 0);
  transform: translate3d(125px, 0, 0);
}

.intro-section p,
h1 {
  text-align: center;
}

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.backimage {
  background-image: url("../images/spiderman.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-section h3 {
  font-weight: bold;
  font-size: 24px;
  color: white;
}
.carousel-section {
  background-color: rgba(0, 0, 0, 0.89);
}

.wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/tv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  background-color: rgba(0, 0, 0, 0.89);
}
.intro-text-wrapper {
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.89);
  height: 100%;
  width: 100%;
  margin: 0%;
  font-family: Arial, sans-serif;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 30px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: right;
}
.title {
  padding-right: 300px;
  color: white;
}
nav ul li a:hover {
  color: rgb(255, 0, 200);
}
span {
  color: rgb(255, 0, 200);
}
nav {
  background-color: rgba(2, 2, 15, 0.527);
  padding: 0%;
  display: flex;
}
.clicked {
  color: rgb(255, 0, 200);
}
.button-solid {
  border: none;
  background-color: rgba(2, 2, 15, 0.527);
  font-size: 27px;
  color: white;
}
button-solid:focus {
  border: none;
  outline: none;
}
