.grid-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.row {
  display: inline-flex;
  max-width: fit-content;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-items: start;
}

.col {
  margin: 10px 19px;
  flex: 0 1 265px;
  filter: drop-shadow(1px 1px 5px rgba(255, 0, 250, 0.3));
}
.grid-container img {
  height: 400px;
  width: 265px;
}

* {
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #111111;
  margin: 0%;
}
