.grid-container {
  display: flex;
  justify-content: center;
  border: 3px solid rgba(255, 0, 250, 0.3);
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
}

h3 {
  text-align: center;
  margin: 10px;
}

.section-title {
  margin: 10px;
}

.row {
  display: inline-flex;
  max-width: fit-content;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-items: start;
}

.col {
  margin: 10px 13px;
  flex: 0 1 265px;
  filter: drop-shadow(1px 1px 5px rgba(255, 0, 250, 0.3));
  border: 3px solid rgba(255, 0, 250, 0.3);
  border-radius: 15px;
}
.grid-container img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 400px;
  width: 265px;
}

* {
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #111111;
  margin: 0%;
  color: white;
}
